*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    z-index: 2;
}

.flex-container{
    display: flex;
}

h1 *{
    font-size: 18px;
}

.h2_vertical *{
    height: 27px;
    text-align: center;
    text-shadow: -3px 2px #2626267a
}

/* body {
    background-color: rgb(197, 197, 197);
} */

/* ------------------------------------------------- */

.banner{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color:  white;
}

.foto_perfil {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-image: url('https://media.licdn.com/dms/image/C4D03AQEWdE6VISH7Tg/profile-displayphoto-shrink_200_200/0?e=1559779200&v=beta&t=ECmJN5wHI-nGsUtCG8xTYVrUAsLZ0snvLk8qM2Y_-yU');
    background-size: cover;
}

#banner{
    background-image: url('../imagens/texto_programa.jpg');
    background-size: cover;
    justify-content: space-evenly;
}

.cabecalho{
    width: 100%;
    height:  20px;
    list-style: none;
    justify-content: space-around;
    background-color: #000000;
}
.cabecalho li a {
    color: white;
    text-decoration: none;
}

.icones_link_bnr .fab{
    font-size: 40px;
    color: white;
    margin: 0 12px;
}

.icones_link_cnt a .fab{
    font-size: 40px;
    color: black;
    padding: 0 12px;
    margin-bottom: 5px;
}

.botaoDoBanner{
    position: absolute;
    top: 95vh;
}

#fasArrowDown{
    display: none;
}

/* ---------------------------------------------------- */

#bloco{
    margin: 3px;
    border-radius: 10px;
}

/* ---------------------------------------------------- */

main {
    display: flex;
    flex-direction: column;
}

.formacoes {
    background-color:  #141414;
    color: white;
}

.trabalhos {
    display: none;
    background-color: #141414;
    color: white;
}

/* ----------------------------------------------------- */

.experiencias {
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background: #329bf7;
    color: azure;
}

.experiencias h2{
    color: black;
}

#Dados_Exp {
    justify-content: space-around;
    width: 90%;
}

#Dados_Exp{
    height: 100%;
    display: flex;
    align-items: center;
}

.dado_Exp{
    height: 170px;
    width:  170px;
    display: flex;
    background-color: black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Exp {
    display: none;
}

.textura_fundo{
    position: absolute;
    width: 1303px;
    height: 100px;
    background-color: #430572;
    transform: skewX(20deg);
    margin-left: 198px;
}

/* ----------------------------------------------------- */


.formacoes {
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    height: 32vh;
}

.frmc {
    height: 80%;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.frmc  li {
    font-size: 1.2em; 
}

/* ----------------------------------------------------- */

.contato {
    background-color: #329bf7;
    color: black;
    padding: 20px;
    align-items: center;
}

.cont_bar{
    align-items: center;
    margin-left: 8%;
    display: flex;
    flex-direction: column-reverse;
}

.cont_email{
    display: flex;
    align-items: baseline;
}

.cont_email p{
    font-size: larger;
}

#icones_link{
    padding-bottom : 15px;;
}

/* ----------------------------------------------------- */

footer {
    background-color: #430572;
    display: none;
}


.teste_v {
    width: 3px;
    height: 26px;
}