*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
    z-index: 2;
}

.flex-container{
    display: flex;
}

h1 *{
    font-size: 18px;
}

/* ------------------------------------------------- */

#cabecalho{
    background-image: url('../imagens/setupCoding.jpeg');
    background-size: cover;
    width: 100%;
    height: 104vh;
}

.banner{
    height: 100%;
    align-items: center;
    justify-content: center;
    color:  white;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.431);
}

.foto_perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url('https://media.licdn.com/dms/image/C4D03AQEWdE6VISH7Tg/profile-displayphoto-shrink_200_200/0?e=1559779200&v=beta&t=ECmJN5wHI-nGsUtCG8xTYVrUAsLZ0snvLk8qM2Y_-yU');
    background-size: cover;
}

.foto_nome{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.icones_link_bnr .fab{
    font-size: 40px;
    color: white;
    margin: 0 12px;
}

.botaoDoBanner{
    bottom: 10px;
    cursor: pointer;
    color: whitesmoke;
}

#fasArrowDown{
    display: none;
}

.resumo {
    width: 500px;
    padding: 10px;
    border-radius: 7px;
    font-size: 2em;
    color: #ffffff;
}

/* ---------------------------------------------------- */

#bloco{
    /* margin: 3px; */
    /* border-radius: 0 10px 10px 10px; */
    height: 55vh;
}

/* ---------------------------------------------------- */

main {
    display: flex;
    flex-direction: column;
    background-color: #141414;
}

/* - EXPERIENCIAS ----------------------------------------------------- */

.div_externa_experiencia{
    /* margin: 3px; */
    transform: translateY(-28px);
}

.titulo_experiencia{
    background-color: #329bf7;
    width: 242px;
    border-radius: 10px 10px 0 0;
    padding: 0px 0px 0px 40px;
}

.experiencias {
    padding: 20px;
    align-items: center;
    justify-content: center;
    background: #329bf7;
    color: azure;
}

#Dados_Exp {
    justify-content: space-around;
    width: 90%;
}

#Dados_Exp{
    height: 100%;
    display: flex;
    align-items: center;
}

.dado_Exp{
    height: 200px;
    width:  200px;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    transition: 1.5s;
    transform: perspective(300);
}

#Exp {
    display: none;
}

.dado_Exp:hover {
    /* background-color: yellow; */
    transform: rotateY(180deg);
}

/* - FORMAÇÂO ----------------------------------------------------- */

.titulo_formacao{
    background-color: #141414;
    width: 242px;
    border-radius: 10px 10px 0 0;
    padding: 0px 0px 0px 55px;
    color: white;
}

.div_externa_formacao{
    transform: translateY(-56px);
}

.formacoes {
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    height: 32vh;
    padding: 40px 0px 65px 50px;
    background-color:  #141414;
    color: white;
}

.frmc {
    height: 80%;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.frmc  li {
    font-size: 1.2em;
}

/* - CONTATO ----------------------------------------------------- */

.div_externa_contato{
    transform: translateY(-84px);
}

.titulo_contato{
    background-color: #329bf7;
    width: 242px;
    border-radius: 10px 10px 0 0;
    padding: 0px 0px 0px 70px;
}

.contato {
    background-color: #329bf7;
    color: black;
    padding: 20px;
    align-items: center;
}

.cont_bar{
    align-items: center;
    margin-left: 4%;
    display: flex;
    flex-direction: row-reverse;
    width: 40%;
    padding: 50px;
    justify-content: space-between;
}

.fa-envelope{
    font-weight: 900;
    padding: 20px;
    font-size: 2em;
    color: #141414;
}

.cont_email{
    display: flex;
    align-items: center;
}

.cont_email p{
    font-size: larger;
}

.icones_link_cnt a .fab{
    font-size: 5em;
    color: #141414;
    padding: 0 12px;
    margin-bottom: 5px;
    display: flex;
    padding: 10px;
}

.icones_link_cnt a{
    text-decoration: none;
    transition: 0.1s;
}

.icones_link_cnt a:hover {
    font-size: 1.2em;
    color: black;
}

#icones_link{
    padding-bottom : 15px;;
}

/* - TRABALHO ----------------------------------------------------- */

.div_externa_trabalho{
    transform: translateY(-113px);
}

.titulo_trabalho{
    background-color: #141414;
    width: 242px;
    border-radius: 10px 10px 0 0;
    padding: 0px 0px 0px 70px;
    color: white;
}

.trabalhos{
    padding: 20px;
    height: 32vh;
    padding: 40px 0px 65px 50px;
    background-color:  #141414;
    color: white;
}

/* ----------------------------------------------------- */

footer {
    background-color: #430572;
    display: none;
}