/* topo */

.cabecalho {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.cabecalho a{
    text-decoration: none;
    color: white;
}

/* banner */

.banner {
    width: 100%;
    height: 100vh;
    background-image: url("../imagens/cilculo_luzes_E.jpg");
    background-position: center;
    align-items: center;
    justify-content: space-around;
}

.retrato {
    width: 270px;
    height: 270px;
    border-radius: 50%;
}

.retrato img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.link_topo {
    position: absolute;
    bottom: 0;  
    right: 15px;
}

h1 {
    font-size: 2.5em;
    color: white;
}

.text-topo p {
    color: white;
}

footer {
    margin-top: 25px;
    width: 100%;
    color: white;
    background: black;
}

@media (max-width: 680px){
    .banner {
        flex-direction: column;
    }
}