/* habilidades / experiencia */

.habilidades {
    flex-direction: column;
}

/* barra de habilidade */

#Exp {
    /* align-items: center; */
    padding: 5px 0px 0px 0px;
}

.brr-skw {
    border-radius: 10px;
    border: solid black;
    background-color: #262626;
    height: 30px;
    width: 200px;
    position: relative;
    z-index: 99;
}

.brr-fnd-html {
    border-radius: 5px;
    background-color: rgb(30, 161, 30);
    width: 70%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 98;
}

.brr-fnd-css {
    border-radius: 5px;
    background-color: rgb(30, 161, 30);
    width: 30%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 98;
}

.brr-fnd-Csharp {
    border-radius: 5px;
    background-color: rgb(30, 161, 30);
    width: 20%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 98;
}

.brr-fnd-PhotoShop {
    border-radius: 5px;
    background-color: rgb(30, 161, 30);
    width: 30%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 98;
}

.brr-fnd-Illustrator {
    border-radius: 5px;
    background-color: rgb(30, 161, 30);
    width: 50%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 98;
}
