* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: prosto one;
}

.flex-container {
    display: flex;
}

h2{
    text-align: center;
    margin-bottom: 25px;
    color: #ffffffe8;
}

body {
    background-color: #262626;
}

/* body {
-webkit-scrollbar-arrow-color:#fd0000;
-webkit-scrollbar-3dlight-color:#ff0000;
-webkit-scrollbar-highlight-color:#FF0000;
-webkit-scrollbar-face-color:#FFFFFF;
-webkit-scrollbar-shadow-color:#0000FF;
-webkit-scrollbar-darkshadow-color:#FFFF00;
-webkit-scrollbar-track-color:#00FF00;
} */

/* blocos */
#bloco {
    padding: 8px 0px;
    margin-top: 25px;
    min-width: 49%;
    height: 100%;
    /* background-color: #ccc; */
    border: solid 2px rgba(0, 63, 238, 0.527);
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

/* CONTEUDO */  
main {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 1000px){
    #bloco {
        width: 98%;
    }
    main {
        flex-direction: column;
    }
}